* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(128, 128, 128, 0.459);
    padding: 0px;
    margin: 0px;
}
article {
    width: 100%;
    top: 30%; 
    position: absolute;
    text-align: center;
    background-color: lightblue;
    color: whitesmoke;
    font-size: 100px;
    padding: 20px;
    text-shadow: 1px 1px 70px black, 0px 0px 30px black;
    border-radius: 64px;
    box-shadow: 0 0 80px blue;
}
#am-pm {
    margin-left: 45px;
}
#dateYear{
    font-size: 50px;
    margin-top: 20px;
}